body, html {
  margin: 0;
  overflow: hidden;
}

svg.star, polygon.star, .star-field {
  position: absolute; 
  display: inline-block;
  z-index: -1000
}

polygon.star {
  filter: blur(1px);
  fill: rgb(252, 252, 184);
  stroke: none;
}

circle.snow {
  fill: paleturquoise;
}

.star-field {
  width: 100vw;
  height: calc(100vh * (2 / 3));
  background: black;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}