body, html {
  margin: 0;
  overflow: hidden;
}

#snow {
  z-index: 1000;
}

svg.pine-tree {
  position: absolute;
  stroke-linecap: round;
}

svg.star, polygon.star, .star-field {
  position: absolute; 
  z-index: -1000
}

polygon.star {
  filter: blur(1px);
  fill: rgb(252, 252, 184);
  stroke: none;
}

svg.pine-tree {
  position: absolute;
  z-index: -1;
}

.pine-trunk {
  stroke: saddlebrown;
  stroke-width: 1px;
}

.pine-needles {
  stroke: darkgreen;
  fill: none;
  stroke-width: 1px;
}

.star-field {
  width: 100vw;
  height: calc(100vh * (2 / 3));
  background: black;
}

@keyframes twinkle {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}