body, html {
  margin: 0;
  overflow: hidden;
}

svg.pine-tree {
  position: absolute;
  stroke-linecap: round;
}

svg.star, polygon.star, .star-field {
  position: absolute; 
  z-index: -1000
}

polygon.star {
  filter: blur(1px);
  fill: rgb(252, 252, 184);
  stroke: none;
}

.pine-trees {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.star-field {
  width: 100vw;
  height: calc(100vh * (2 / 3));
  background: black;
}

@keyframes twinkle {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

.snow-flake {
  position: absolute;
  color: #DDF;
  filter: blur(1px);
  top: -50px;
  animation: snow-fall linear infinite;
}

@keyframes snow-fall {
  0% {
    transform: translateX(-5px) translateY(0px);
  }
  
  25% {
    transform: translateX(5px)  translateY(25vh);
  }
  
  50% {
    transform: translateX(-5px) translateY(50vh);
  }
  
  75% {
    transform: translateX(5px) translateY(75vh);
  }
  
  100% {
    transform: translateX(-5px) translateY(calc(100vh + 50px));
  }
}